<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juan.firebaseregistro">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_logo_eventime"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_logo_eventime"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Perfil"></activity>
        <activity android:name=".Favoritos" />
        <activity android:name=".Menu_Principal" />
        <activity android:name=".Fragmento" />
        <activity android:name=".Principal" />
        <activity android:name=".RegistroDatos" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>